{% include 'layout/top.html' %}
{% block content %}

<!-- Jumbotron Section -->
<div class="jumbotron text-center">
    <h1 class="display-4">Portfolio Analysis Assistant</h1>
    <p>Select a tool analyze with.</p>

    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            Select
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/decomposition">Decomposition</a>
        </div>
    </div>

</div>

{% endblock %}
{% include 'layout/bottom.html' %}
